.expense-preview {
  color: #8d96a0;
  .container {
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .expense-preview-details {
      margin: 0 5px;
      display: flex;
      flex-wrap: wrap;

      p:nth-child(n + 2) {
        margin-left: 15px;
      }
    }

    .amount-remove {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .expense-preview-amount {
        color: #aa0303;
      }
      svg {
        cursor: pointer;
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 420px) {
  .expense-preview {
    .container {
      flex-wrap: nowrap;
      .expense-preview-details {
        // flex-wrap: nowrap;
        p:nth-child(n + 2) {
          margin-left: 0px;
        }

        p:nth-child(2) {
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .amount-remove {
        flex-wrap: nowrap;
        .expense-preview-amount {
        }
        svg {
        }
      }
    }
  }
}
