.expense-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  color: #8d96a0;

  label {
    select {
      color: #8d96a0;
      background-color: #374150;
      margin-left: 10px;
      border-radius: 5px;
      padding: 5px;
      border: none;
      margin-top: 5px;
      option {
        color: #8d96a0;
        background-color: #374150;
      }
    }
  }

  p {
    margin-left: 10px;
  }

  input {
    color: #8d96a0;
    background-color: #374150;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-top: 5px;
  }
}
