.chart-page {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  canvas {
  }
}

@media (max-width: 420px) {
  .chart-page {
    justify-content: normal;
    canvas {
      width: 90%;
    }
  }
}
